@model DTO.Camiones_DTO
@*indicamos a Razor que utilizareos un modelo en especifico*@
<h2>@ViewBag.Titulo</h2>

@*Comenzamos a crear nuestro formulario*@
@*HTML HELPER BeginForm es el HTML HELPER que genera el codigo del formulario*@
@using (Html.BeginForm("Editar_Camion", "Camiones", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    //Comenzo el maquetado de mi formulario haciendo uso de otros HTML HElpers
    <div class="row">
        <div class="col-12">

            @*Recuperar y enviar la informacion No editable en 2do plano*@
            @*esta informació no se muestra en el formulario, pero es requisito para nuestro modelo*@
            @Html.HiddenFor(model => model.UrlFoto)
            @Html.HiddenFor(model => model.ID_Camion)

            <div>
                @*Generamos una etiqueta LAbel*@
                @Html.LabelFor(model => model.Matricula)
                @*Generamos una etiqueta Imput*@
                @Html.TextBoxFor(model => model.Matricula, new { @class = "form-control", @type = "text" })
                @*Generamos un espacio para un msg de validaciónn*@
                @Html.ValidationMessageFor(model => model.Matricula, null)
            </div>
            <div>
                @*Generamos una etiqueta LAbel*@
                @Html.LabelFor(model => model.Capacidad)
                @*Generamos una etiqueta Imput*@
                @Html.TextBoxFor(model => model.Capacidad, new { @class = "form-control", @type = "number" })
                @*Generamos un espacio para un msg de validaciónn*@
                @Html.ValidationMessageFor(model => model.Capacidad, null)
            </div>
            <div>
                @*Generamos una etiqueta LAbel*@
                @Html.LabelFor(model => model.Marca)
                @*Generamos una etiqueta Imput*@
                @Html.TextBoxFor(model => model.Marca, new { @class = "form-control", @type = "text" })
                @*Generamos un espacio para un msg de validaciónn*@
                @Html.ValidationMessageFor(model => model.Marca, null)
            </div>
            <div>
                @*Generamos una etiqueta LAbel*@
                @Html.LabelFor(model => model.Modelo)
                @*Generamos una etiqueta Imput*@
                @Html.TextBoxFor(model => model.Modelo, new { @class = "form-control", @type = "text" })
                @*Generamos un espacio para un msg de validaciónn*@
                @Html.ValidationMessageFor(model => model.Modelo, null)
            </div>
            <div>
                @*Generamos una etiqueta LAbel*@
                @Html.LabelFor(model => model.Kilometraje)
                @*Generamos una etiqueta Imput*@
                @Html.TextBoxFor(model => model.Kilometraje, new { @class = "form-control", @type = "number" })
                @*Generamos un espacio para un msg de validaciónn*@
                @Html.ValidationMessageFor(model => model.Kilometraje, null)
            </div>
            <div>
                @*Generamos una etiqueta LAbel*@
                @Html.LabelFor(model => model.Disponibilidad)
                @Html.CheckBoxFor(model => model.Disponibilidad)
            </div>
            <div>
                @Html.LabelFor(model => model.Tipo_Camion)
                @*generamos un DropDownList que se alimenta de la lista que pasamos por el ViewVag*@
                @Html.DropDownListFor(model => model.Tipo_Camion, new SelectList(ViewBag.ListaTipos, "Descripcion", "Descripcion"), new
           {
               @class = "form-control"
                })
            </div>
            @*Imagen*@
            <div>
                @Html.LabelFor(model => model.UrlFoto)
                <input type="file" name="imagen" id="imagen" />
            </div>
            @*Boton de guardar*@
            <div style="text-align:right;">
                <input value="Guardar" class="btn btn-success" type="submit" />
            </div>
        </div>
    </div>
}


